.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
doc/emails
config/database.yml
config/omniauth.yml
config/amazon.yml
config/deploy.rb
public/assets
public/system
spec/fixtures
public/images/rendered
.sass-cache
