.staff.chord-staff{"data-id" => model.id, "data-staff" => model.octavized_notes.to_json, "data-staff-clef" => "treble", "width" => 150}
%h3= link_to "#{model.title} Chord", path_to_searchable(result)
