.staff.scale-staff{"data-id" => model.id, "data-staff" => model.octavized_notes.map {|n| [n]}.to_json, "data-staff-clef" => "treble", "width" => 350, "data-scale" => 0.8}
%h2= result
%h4= "Mode of #{model.scale.title}"
%p= model.information
