%article#chord-note-sequence
  %header
    %h1
      Chord Note Sequence:
      = @chord_note_sequence.title
    %h3= raw @chord_note_sequence.chords.map {|g| g.map {|c| link_to(c.short_name, [c.key, c].compact) }.join(" or ")}.join(", &nbsp;&nbsp;")

  %nav#key-selector
    %h2 Key:
    %ul
      - Key.primaries.each do |key|
        %li{:class => ("current" if @key == key)}= link_to_unless @key == key, key, [key, @chord_sequence]

  %section#staff
    .staff.progression-staff{"data-staff" => @chord_note_sequence.octavized_notes.to_json, "data-staff-clef" => "treble"}

  -# TODO:
    %nav.related-progressions
      %h3 Related Progressions:
      %ul.progressions-list
        = render @chord_note_sequence.progressions

