%article[scale]
  .staff.scale-staff{"data-id" => scale.id, "data-staff" => scale.staff_notes.to_json, "data-staff-clef" => "treble", "width" => 420, "height" => 100}
  %h2= link_to scale.title, scale
  %p= scale.information
  - if scale.comments.exists?
    %span.comments-count= scale.comments.count
  %h4 Modes:
  %ul.modes
    - scale.modes.each do |mode|
      %li= link_to mode.title, [scale, mode]
