%article[scale]
  %h3= link_to scale.title, scale
  %p= scale.information
  .staff.scale-staff{"data-id" => scale.id, "data-staff-notes" => scale.octavized_notes.to_json, "data-staff-clef" => "treble"}
  %h4 Modes:
  %ul.modes-list
    = render scale.modes
