%article[scale]
  %h2= link_to scale.title, scale
  %p= scale.information
  %h4 Modes:
  %ul.modes
    - scale.modes.each do |mode|
      %li= link_to mode.title, [scale, mode]
  .staff.scale-staff{"data-id" => scale.id, "data-staff" => scale.octavized_notes.map {|n| [n] }.to_json, "data-staff-clef" => "treble", "width" => 500, "height" => 100}
