%article[musician]
  = image_tag musician.avatar_url(:small), :class => "avatar", :alt => "#{musician}'s Avatar" if musician.has_avatar?

  %h3= link_to_if musician.has_profile?, musician, musician
  %p= musician.biography
