%nav.tabs
  %ul
    = navigation_link_to "Information", {:action => :show}, MusiciansController, :show
    = navigation_link_to "Comments (#{@musician.comments.count})", {:action => :comments}, MusiciansController, :comments
