= render "search_box"

%section#featured-musicians
  = render @musicians
  = paginate @musicians
  - if @musicians.empty?
    %p.no-results Sorry, but no musicians were found matching your search.

#sidebar
  = render "recent_members"
