= render "musicians/profiles/tabs" if @musician == current_musician

%article#musician
  = render "musicians/header"
  = render "musicians/tabs" if @musician.famous?

  %section#musician-activity
    %h2 Recent Discussion:
    %div.activity
      = render "timeline_events/index", :timeline_events => @timeline_events
      - if @timeline_events.empty?
        %p.no-results No activity yet!
