- chord = chord.in_key_of(key) if local_assigns[:key]

%li[chord]
  %h3= link_to chord.title, chord
  .staff.chord-staff{"data-id" => chord.id, "data-staff-notes" => chord.octavized_notes.to_json, "data-staff-clef" => "treble"}
