%nav#key-selector
  %h2 Key:
  %ul
    - Key.primaries.each do |key|
      %li{:class => ("current" if @key == key)}= link_to_unless @key == key, key, controller.is_a?(VoicingsController) ? [key, @chord, @voicing || :voicings] : [key, @chord]

