- voicing = voicing.in_key_of(key) if local_assigns[:key]

%li[voicing]
  %h3= link_to voicing.title, voicing
  .staff.chord-staff{"data-id" => voicing.id, "data-staff-notes" => voicing.octavized_notes.to_json, "data-staff-clef" => "treble"}
