- mode = mode.in_key_of(key) if local_assigns[:key]

%li[mode]
  %h3= link_to mode.title, [mode.scale, mode]
  %p= mode.scale.information
  .staff.scale-staff{"data-id" => mode.id, "data-staff-notes" => mode.octavized_notes.to_json, "data-staff-clef" => "treble"}
