%section#search-results
  %h1 Search Results for "#{params[:id]}":

  %ul.searchables-list
    - @results.each do |result|
      - model = result.target

      %li.searchable
        = "#{model.class.name.titleize}: "
        = link_to model.title, path_to_searchable(result)

