%section#search-results
  %h1 Search Results for "#{params[:id]}":

  %ul.searchables-list
    - @results.each do |result|
      - model = result.respond_to?(:target) ? result.target : result

      %li.searchable
        = render "searches/searchables/#{model.class.name.underscore}", :model => model, :result => result
