%article#concept
  = render "concepts/header"
  = render "concepts/tabs"

  %section#concept-description
    = raw text_to_html(@concept.content)

  - if @concept.tune_concepts.exists?
    %section#concept-tunes
      %h2 Tunes showcasing this concept:
      %ul
        - @concept.tune_concepts.each do |tune_concept|
          %li= link_to tune_concept.tune, tune_concept.tune

