%div{:rel => "FTSBFXDB", :class => "lrdiscoverwidget", "data-logo" => "on", "data-background" => "on", "data-share-url" => "www.jazzity.com", "data-css" => ""}
%script{:type => "text/javascript", :src => "http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"}
