%section
  %h1 Jazzity
  %h2 The Jazz Knowledge Engine

  %p
    We're building an awesome community for jazz musicians.
  %p
    Explore chords, scales, tunes, progressions. Automate harmonic and melodic analysis.
    Meet and learn with other musicians.
  %p
    Stay tuned!
    
  %p Jazzity is a #{link_to "Ben Hughes", "http://benhughes.name/"} production.