.activity {

  ul.activity-list {
    @include no-bullets;
    margin: 0;

    li {
      @include clearfix;
      margin-bottom: 10px;

      cite {
        font-style: normal;
        float: none;
      }

      p {
        font-size: 0.85em;
        color: #333;
      }
    }
  }

}
