// Base Settings

$total-cols: 12;                    /* a 12-column grid */
$col-width: 6em;                    /* each column is 4em wide */
$gutter-width: 1em;                 /* 1em gutters between columns */
$side-gutter-width: $gutter-width;  /* 1em padding at the edges of the page as well */

