body.chord-note-sequences {

  article.chord-note-sequence {
    border: 1px solid #666;
    padding: 15px;
  }

  article#chord-note-sequence {
    nav.related-progressions {
      float: left;
      width: 92%;
      margin-top: 30px;
    }
  }

}
