body.chords, body.chord-qualities, body.voicings {

  nav#chords-index {
    @include columns(2);
    @include alpha;
    background: #CCC;

    article {
      padding: 10px;
      h2 { margin-bottom: 6px; }
      ul {
        margin-left: 0;
        @include no-bullets;
        li { padding-bottom: 4px; }
      }
    }
  }

  section#chords {
    @include columns(10);
    @include omega;
  }
  
  article.chord_quality {
    border-bottom: 3px solid #CCC;
    padding: 10px 0;
    margin-bottom: 10px;

    h2 {
      margin-bottom: 8px;
      font-size: 1.2em;
    }
  }

  article#chord {
    @include columns(10);
    @include omega;

    header {
      position: relative;

      h2 {
        span {
          color: #666;
        }
      }

      p {
        label {
          font-weight: bold;
        }
      }

      .staff {
        position: absolute;
        top: -20px;
        right: 300px;
      }
    }

    nav.tabs {
      margin-left: 0;
      margin-right: 0;
      width: 80%;
      clear: none;
    }
    
    nav.related-modes, nav.related-voicings {
      margin-top: 1em;
      h3 { margin-bottom: 0.4em; }
    }
  }

}

/* Potentially Used Elsewhere */
ul.chords-list {
  @include clearfix;
  list-style-type: none;
  margin: 0;

  li.chord {
    position: relative;
    float: left;
    border: 1px solid #CCC;
    @include border-radius(5px);
    margin: 0 10px 10px 0;
    padding: 4px;
    width: 155px;

    h3 {
      margin: 0; 
      padding: 4px;
    }

    span.comments-count {
      position: absolute;
      display: inline-block;
      bottom: 5px;
      right: 5px;
      font-size: 0.9em;
      text-align: right;
      width: 30px;
      height: 16px;
      background: image-url("iconic/chat_alt_fill_16x16.png") left no-repeat;
    }
    
    div.vex-tabdiv { padding-left: 0; }

    a {
      text-decoration: none;
    }

    &:hover {
      border: 1px solid #333;
    }
  }
}

