body.chord_note_sequences {

  article.chord-note-sequence {
    border: 1px solid #666;
    padding: 15px;
    margin-bottom: 15px;
    h3 {
      margin-bottom: 8px;
    }
  }

  article#chord-note-sequence {
    header {
      p {
        label { font-weight: bold; }
      }
    }

    #key-selector {
      width: 5%;
      float: right;
      margin-top: 15px;
      background: #CCC;
      padding: 10px;
      ul {
        list-style-type: none;
        margin: 0;
        li { padding: 5px; }
      }
    }

    nav.related-progressions {
      float: left;
      width: 92%;
      margin-top: 30px;
    }
  }

}
