.comments {
  clear: left;
  margin-top: 10px;
  padding: 15px;
  border: 3px solid #CCC;
  width: 650px;

  h2 {
    font-size: 1.3em;
    margin-bottom: 12px;
  }

  ul.comments-list {
    @include no-bullets;
    margin: 0 0 20px 0;

    li {
      @include clearfix;
      margin: 0 0 20px 0;
      padding-bottom: 5px;

      img.avatar {
        float: left;
        max-width: 50px;
        max-height: 50px;
        margin-right: 10px;
      }
      cite {
        font-size: 0.9em;
      }
      div.content {
        margin-top: 0.5em;
        margin-left: 60px;
      }
      div.actions {
        margin-top: 0.5em;
        font-size: 0.8em;
        text-transform: uppercase;
        color: #666;
      }
    }
  }

  p.login-required {
    font-style: italic;
  }

  form#create-comment-form {
    @include clearfix;
    position: relative;

    h4 { margin-bottom: 10px; }
    label { display: none; }
    input[type=text] { width: 90%; }
    textarea { height: 60px; width: 75%; }
    span.hint { margin-left: 0; }

    .buttons { 
      position: absolute;
      bottom: 10px;
      right: 0;
    }
    input[type=submit] { margin-left: 0; }
  }

}
