.comments {
  clear: left;
  margin-top: 10px;
  padding: 15px;
  border: 3px solid #CCC;
  width: 80%;

  h2 {
    font-size: 1.3em;
    margin-bottom: 12px;
  }

  ul.comments-list {
    @include no-bullets;
    margin: 0 0 20px 0;

    li {
      margin: 0 0 10px 0;
      border-bottom: 1px solid #333;

      cite {
        font-size: 0.9em;
        img {
          max-width: 25px;
          max-height: 25px;
        }
      }
      p {
        font-size: 0.8em;
      }
    }
  }

  p.login-required {
    font-style: italic;
  }

  form#create-comment-form {
    h4 { margin-bottom: 10px; }
    label { display: none; }
    input[type=text] { width: 90%; }
    textarea { height: 100px; width: 100%; }
    span.hint { margin-left: 0; }
    input[type=submit] { margin-left: 0; }
  }

}
