body.discussions {

  nav#discussion-categories {
    @include columns(3, 12);
    @include alpha(12);
    background: #CCC;

    ul {
      padding: 10px;

      li {
        margin: 5px 0;
        padding: 8px;

        &.current { background: #FFF; }

        h2 {
          font-weight: normal;
          font-size: 1.1em;
          margin: 0;
        }
      }
    }
  }

  article#discussion, section#discussions {
    @include columns(9, 12);
    @include omega(12);
  }

  article#discussion {
  
    .comments {
      width: 95%;
      p.actions { display: none; }
    }

  }

  section#discussions {

    ul.discussions {
      margin: 0 0 20px 0;
    
      li {
        @include clearfix;
        margin: 10px 0 0 0;
        position: relative;

        &:first-child { margin-top: 0; }

        h2 { @extend h3; }

        p {
          margin-top: 0.5em;
          margin-left: 60px;
        }
      }
    }
  }

  form.create-discussion-form {
    label { display: none; }
    textarea { height: 150px; width: 75%; }
    input[type=submit] { margin-left: 0; }
  }

}
