body.dashboards {

  section {
    h2 {
      margin-bottom: 10px;
      font-size: 1.1em;
    }
    p {
      margin-bottom: 0.5em;
    }
  }
  
  section#search {
    @include full;
  }

  section#search-examples {
    @include columns(9);
    @include alpha;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 5px solid #CCC;
    padding-bottom: 10px;

    h2 {
      float: left;
      width: 100px;
    }
    ul {
      width: 200px;
      float: left;
      list-style-type: none;
      margin-left: 0;
      font-size: 0.8em;
      li { padding: 3px; }
    }
  }

  section#features-overview {
    @include columns(9);
    @include alpha;

    article {
      margin-bottom: 10px;
      clear: right;

      img {
        float: right;
        margin-right: 0;
        margin-left: 5px;
      }
      h2 {
        margin-bottom: 5px;
        font-size: 1.0em;
      }
      p { font-size: 0.9em; }

      &.introduction {
        margin-bottom: 15px;
        p {
          font-size: 1.1em;
          line-height: 1.2em;
        }
      }
    }
  }

  section#activity {
    @include columns(3);
    @include omega;
    margin-top: 15px;
    margin-bottom: 15px;
  }

}
