body.dashboards {

  section#search-examples {
    @include columns(9, 12);
    border-bottom: 5px solid #CCC;
    padding-bottom: 0.8em;

    h2 {
      float: left;
      width: 20%;
    }
    ul {
      width: 20%;
      float: left;

      li {
        font-size: 0.8em;
        padding: 3px;
      }
    }
  }

  section#features-overview {
    @include columns(9, 12);

    article {
      @include clearfix;
      margin-bottom: 15px;

      img {
        float: right;
        margin-right: 0;
        margin-left: 5px;
      }

      &.introduction {
        margin-bottom: 20px;
        p {
          font-size: 1.5em;
          line-height: 1.2em;
        }
      }
    }
  }

  section#activity {
    @include columns(3, 12);
    @include omega(12);
  }

}
