#flash {
  margin: 12px 0;
  color: #EEE;

  div {
    @include border-radius(6px);
    @include single-text-shadow(#000, 1px, 1px, 2px);
    padding: 16px 0 16px 60px;
    &.notice { background: #1D5FA3 url(/images/flash/notice.png) 16px 12px no-repeat; }
    &.warning { background: #1D5FA3 url(/images/flash/warning.png) 16px 12px no-repeat; }
    &.alert { background: #EC160E url(/images/flash/alert.png) 16px 12px no-repeat; }
  }

}
