body.musicians {

  section#musicians {
    @include columns(9, 12);
  }

  article.musician {
    @include clearfix;
    position: relative;
    padding: 8px;
    margin: 0;

    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }

    h3 {
      font-size: 1.0em;
      font-weight: normal;
    }
    cite {
      float: left;
      font-size: 0.8em;
      padding-left: 15px;
    }
    p { margin-left: 60px; }

  }

  #musician-resources {
    @include columns(3, 12);
    @include omega(12);
  }

  article#musician {
    @include columns(9, 12);
    @include clearfix;

    header {
      @include clearfix;
      @include border-radius(6px);
      background: #CCC;
      padding: 10px;
      position: relative;
      margin-bottom: 15px;

      p {
        border-top: 1px solid #666;
        margin-top: 10px;
        padding-top: 5px;
        clear: left;
      }
    }

    #musician-description {

    }

    #musician-comments {
      .comments {
        width: 90%;
      }
    }

    #musician-relateables {

    }

    #musician-activity {
      
    }
  }

}
