body.musicians {

  nav#filters {
    @include columns(2);
    @include alpha;
    background: #CCC;

    article {
      padding: 10px;
      h2 { margin-bottom: 6px; }
      ul {
        margin-left: 0;
        @include no-bullets;
        li { padding-bottom: 4px; }
      }
    }
  }
  
  section#search {
    @include columns(10);
    @include omega;
    margin-bottom: 15px;
  }

  section#musicians {
    @include columns(10);
    @include omega;
  }

  article.musician {
    @include clearfix;
    position: relative;
    padding: 8px;
    margin-bottom: 5;
    min-height: 50px;

    a.like {
      float: left;
      margin-right: 10px;
    }
    img.avatar {
      float: left;
      max-width: 50px;
      max-height: 50px;
      margin-right: 10px;
    }
    h3 {
      float: left;
      font-size: 1.0em;
      font-weight: normal;
    }
    cite {
      float: left;
      font-size: 0.8em;
      padding-left: 15px;
    }

    ul.attributes {
      float: right;
      @include horizontal-list;
      li {
        font-style: italic;
      }
    }
  }

  article#musician {
    @include clearfix;

    header {
      @include full;
      @include clearfix;
      @include border-radius(6px);
      background: #CCC;
      padding: 10px;
      position: relative;
      margin-bottom: 15px;

      h1 {
        margin-bottom: 5px;
      }

      img.avatar {
        float: left;
        margin-right: 10px;
      }

      dl {
        dd { display: inline; }
        dt { display: inline; margin-right: 20px; color: #666; }
      }
      
      ul.social-media {
        @include horizontal-list;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      p {
        border-top: 1px solid #666;
        margin-top: 10px;
        padding-top: 5px;
        clear: left;
      }
    }

    section {
      h2 {
        margin-bottom: 10px;
        font-size: 1.2em;
      }
    }

    #musician-description {
      @include columns(9);
      @include alpha;
      
      p { margin-bottom: 0.8em; }
      ul { margin-left: 1em; margin-bottom: 0.8em; }
    }

    #musician-comments {
      @include columns(9);
      @include alpha;

      .comments {
        width: 90%;
      }
    }

    #musician-relateables {
      @include columns(9);
      @include alpha;
    }

    #musician-resources {
      @include columns(3);
      @include omega;
    }

    #musician-activity {
      @include columns(3);
      @include omega;
    }
  }

}
