body.musicians {

  nav#filters {
    @include columns(2, 12);
    @include alpha(12);
    background: #CCC;

    article {
      padding: 10px;
    }
  }
  
  section#search {
    @include columns(10, 12);
    @include omega(12);
    margin-bottom: 15px;
  }

  section#musicians {
    @include columns(10, 12);
    @include omega(12);
  }

  article.musician {
    @include clearfix;
    position: relative;
    padding: 8px;
    min-height: 50px;

    h3 {
      float: left;
      font-size: 1.0em;
      font-weight: normal;
    }
    cite {
      float: left;
      font-size: 0.8em;
      padding-left: 15px;
    }

    ul.attributes {
      float: right;
      @include horizontal-list;
      li { font-style: italic; }
    }
  }

  article#musician {
    @include clearfix;

    header {
      @include clearfix;
      @include border-radius(6px);
      background: #CCC;
      padding: 10px;
      position: relative;
      margin-bottom: 15px;

      p {
        border-top: 1px solid #666;
        margin-top: 10px;
        padding-top: 5px;
        clear: left;
      }
    }

    #musician-description {
      @include columns(9, 12);
      @include alpha(12);
    }

    #musician-comments {
      @include columns(9, 12);
      @include alpha(12);

      .comments {
        width: 90%;
      }
    }

    #musician-relateables {
      @include columns(9, 12);
      @include alpha(12);
    }

    #musician-resources {
      @include columns(3, 12);
      @include omega(12);
    }

    #musician-activity {
      @include columns(3, 12);
      @include omega(12);
    }
  }

}
