nav.tabs {
  @include full;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 0.9em;
  
  ul {
    @include horizontal-list;
    background: #CCC;
    padding: 5px;

    li {
      margin: 0 15px 0 0;
      padding: 4px 8px !important;

      &.current {
        font-weight: bold;
        background: #EEE;
        @include border-radius(4px);
      }
    }

    a {
      color: #000;
      &:visited { color: #000; }
      &:hover { color: #000; text-decoration: none; }
    }
  }
}

