body.note-sequences {

  article.note-sequence {
    border: 1px solid #666;
    padding: 15px;
  }

  article#note-sequence {
    nav.related-chords, nav.related-modes {
      float: left;
      width: 92%;
      margin-top: 30px;
    }

    nav.related-modes {
      ul.modes-list {
        li.mode {
          float: left;
          width: 45%;
        }
      }
    }
  }

}
