body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 40px;
  background: url("/images/layout/black_linen.png");

  &.staff-container {
    background: #FFF;
    margin: 0;
  }
}

#container {
  @include container;
  background: #FFF;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid #DDD;
}

#header {
  @include full;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 0;
  border-bottom: 0;
  position: relative;
  
  h1 {
    font-size: 4.5em;
    margin-bottom: 15px;
    span { padding-left: 20px; font-size: 0.5em; color: #AAA; }
  }

  nav {
    padding: 4px;
    margin-bottom: 0;
    
    ul {
      @include inline-block-list;
      border-bottom: 1px solid #333;
      li {
        margin: 0 10px 0 0;
        padding: 10px 15px;
        a { text-decoration: none; }

        &.current {
          background: #333;
          a { color: white; }
          font-weight: bold;
          border-bottom: none;
        }
      }
    }
  }

  aside {
    position: absolute;
    top: 10px;
    right: 0;

    .avatar {
      float: none;
      margin-right: 4px;

      img {
        max-width: 25px;
        max-height: 25px;
      }
    }
  }
}

#flash {
  @include full;

  ul {
    @include border-radius(4px);

    padding: 10px;
    margin: 0 0 10px 0;
    color: #FFFFFF;
    
    &.notice { background-color: #3B9C3B; }
    &.warn { background-color: #A11010; }
  }
}

#main {
  @include clearfix;
  @include full;
  margin-top: 0;
}

#sidebar {
  @include columns(3, 12);
  @include omega(12);
}

#footer {
  @include full;
  margin-top: 10px;
  padding: 10px;
  font-size: 0.7em;
  border-top: 1px solid black;
}

