body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 40px;
  background: #FFF;
}

#container {
  @include container;
}

#header {
  @include full;
  margin-top: 10px;
  position: relative;
  
  h1 { font-size: 3em; }
  h2 { font-size: 0.8em; }

  nav {
    margin-top: 10px;
    padding: 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    
    ul {
      @include horizontal-list;
      li { margin: 0 15px 0 0; }
      li.current { font-weight: bold; }
      a {
        color: #000;
        text-size: 1.1em;
        &:visited { color: #000; }
        &:hover { color: #000; text-decoration: none; }
      }
    }
  }

  aside {
    position: absolute;
    top: 10px;
    right: 0;

    img.avatar {
      max-width: 25px;
      max-height: 25px;
    }
  }
}

#flash {
  @include full;
  ul {
    padding: 10px;
    margin: 0 0 10px 0;
    color: #FFFFFF;
    
    @include no-bullets;
    @include border-radius(4px);

    &.notice { background-color: #3B9C3B; }
    &.warn { background-color: #A11010; }
  }
}

#main {
  margin-top: 10px;
}

#footer {
  @include full;
  margin-top: 10px;
  padding: 10px;
  font-size: 0.7em;
  border-top: 1px solid black;
}
