body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 40px;
  background: image-url("layout/black_linen.png");
}

#container {
  @include container;
  @include border-radius(6px);
  @include single-box-shadow(#999, 0, 0, 12px);
  background: #FFF;
  margin-top: 15px;
  margin-bottom: 15px;
}

#header {
  @include full;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 0;
  border-bottom: 0;
  position: relative;
  
  h1 { font-size: 3em; margin-bottom: 4px; }
  h2 { font-size: 0.8em; }

  nav {
    padding: 4px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 0;
    
    ul {
      @include inline-block-list;
      li {
        margin: 0 15px 0 0;
        padding: 5px;

        &.current {
          @include border-radius(4px);
          background: #DDD;
          font-weight: bold;
        }
      }
    }
  }

  aside {
    position: absolute;
    top: 10px;
    right: 0;

    img.avatar {
      float: none;
      max-width: 25px;
      max-height: 25px;
      margin-right: 4px;
    }
  }
}

#flash {
  @include full;

  ul {
    @include border-radius(4px);

    padding: 10px;
    margin: 0 0 10px 0;
    color: #FFFFFF;
    
    &.notice { background-color: #3B9C3B; }
    &.warn { background-color: #A11010; }
  }
}

#main {
  @include clearfix;
  @include full;
  margin-top: 0;
}

#footer {
  @include full;
  margin-top: 10px;
  padding: 10px;
  font-size: 0.7em;
  border-top: 1px solid black;
}

