body.progressions {

  article.progression-family {
    border-top: 3px solid #CCC;
    padding: 10px 0;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    width: 31%;

    h2 {
      margin-bottom: 8px;
      font-size: 1.2em;
    }
  }

  article#progression {
    #tunes-based-on {
      margin: 10px 0;
    }
  }

}

/* Potentially Used Elsewhere */
ul.progressions-list {
  @include clearfix;

  li.progression {
    @include border-radius(5px);
    position: relative;
    border: 1px solid #CCC;
    margin: 0 10px 10px 0;

    h3 {
      margin: 0; 
      padding: 4px;
    }
    h4 {
      padding: 4px;
      font-size: 0.9em;
      color: #666;
      a, a:hover { color: #666; }
    }
    p { padding: 4px; }

    a { text-decoration: none; }
  }
}

