nav.profile {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 0.9em;
  
  ul {
    @include horizontal-list;
    background: #CCC;
    padding: 5px;

    li {
      margin: 0 15px 0 0;
      padding: 4px 8px !important;

      &.current {
        font-weight: bold;
        background: #EEE;
        @include border-radius(4px);
      }
    }

    a {
      color: #000;
      &:visited { color: #000; }
      &:hover { color: #000; text-decoration: none; }
    }
  }
}

body.musicians-authentications {
  nav.profile {
    margin-left: 0;
    margin-right: 0;
  }

  ul.services {
    @include no-bullets;
    margin: 0 0 15px 0;

    li {
      margin: 10px 0 10px 0;
    }
  }
}

body.musicians-profiles {

  /* Edit Profile */
  form#update-profile-form {
    fieldset#profile-basic {
      @include columns(6, 12);
      @include alpha(12);

      input#musician_avatar {
        margin-left: 170px;
      }
    }

    fieldset.buttons {
      clear: both;
    }


    &.disabled { opacity: 0.6; }
  }

}

