ul.resources {
  @include no-bullets;
  margin: 0 0 10px 0;

  li {
    padding: 3px;
  }

  .resource {
    @include clearfix;

    .image {
      float: left;
      margin-right: 10px;
    }
    
    &.amazon-book {
      .image {
        width: 60px;
        img { max-height: 80px; max-width: 60px; }
      }
    }

    &.itunes-track {
      .image { 
        width: 30px;
        img { max-height: 30px; max-width: 30px; }
      }
    }
  }
}

