ul.resources {
  @include no-bullets;
  margin: 0 0 10px 0;

  li {
    padding: 3px;
  }

  .resource {
    @include clearfix;

    img {
      float: left;
      margin-right: 10px;
    }
    
    &.amazon-book {
      img { max-height: 80px; }
    }

    &.itunes-track {
      img { max-height: 30px; }
    }
  }
}

