ul.resources {
  @include no-bullets;
  @include clearfix;
  margin: 0 0 10px 0;

  li {
    padding: 3px;
    @include clearfix;

    .image {
      float: left;
      margin-right: 10px;
    }
    
    &.amazon-book {
      float: left;
      margin-right: 0;

      .image {
        width: 80px;
        height: 100px;
        img { max-height: 100px; max-width: 80px; }
      }
    }

    &.itunes-track {
      .image { 
        width: 30px;
        img { max-height: 30px; max-width: 30px; }
      }
    }
  }
}

