body.scales, body.modes {

  article.scale {
    @include full;
    border: 1px solid #666;
    padding: 15px;
    margin-bottom: 15px;

    h3 { margin-bottom: 8px; }
    ul.modes-list {
      @include horizontal-list;
      margin: 10px 0 0 20px;
    }
  }

  article#scale {
    @include full;

    header {
      p {
        label { font-weight: bold; }
      }
    }

    #modes-list {
      margin-top: 10px;
      background: #CCC;
      padding: 5px;
      @include border-radius(6px);

      ul {
        @include horizontal-list;
        li { margin: 0 10px 0 0; }
      }
    }

    #mode {
      float: left;
      width: 92%;
      margin-top: 15px;

      h2 { font-size: 1.2em; }

      nav.related-chords {
        margin-top: 30px;
      }
    }
  }

}
