#search {
  background: #CCC;

  form {
    padding: 15px;
    label { 
      display: inline;
      margin-right: 10px;
    }
    input, select { margin-top: 0; font-size: 1.2em; margin-right: 10px; }
    input#query {
      width: 400px;
    }

    a {
      margin-left: 20px;
    }
  }
}
