body.searches {
  
  section#search-results {

  }

}

ul.searchables-list {
  @include no-bullets;
  margin: 0;

  > li {
    @include border-radius(5px);
    @include clearfix;
    position: relative;
    border: 1px solid #CCC;
    margin: 0 10px 10px 0;
    padding: 8px;
    cursor: hand;

    a { text-decoration: none; }

    &:hover { border: 1px solid #333; }

    h2 { font-size: 1.2em; }
    cite {
      float: left;
      font-size: 0.8em;
      padding-left: 15px;
    }

    .staff {
      float: right;
      margin-top: -20px;
    }

  }
}
