body.searches {
  
  section#search-results {
    @include full;

    ul.searchables-list {
      @include no-bullets;
      margin: 0;

      li {
        @include clearfix;
        margin: 5px 0;
        padding: 5px 0;
        border-top: 1px solid #333;

        .staff {
          float: right;
          margin-top: -20px;
        }
      }
    }
  }

}
