#search {
  background: #CCC;

  form {
    padding: 15px;
    label { 
      display: inline;
      margin-right: 10px;
    }
    input { margin-top: 0; }
    input#query {
      margin-right: 5px;
      font-size: 1.2em;
      width: 400px;
    }

    a {
      margin-left: 20px;
    }
  }
}
