@include html5-boilerplate-styles;

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.6em;
  margin-bottom: 8px;
}
h2 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

strong, th {
  font-weight: bold;
}

small {
  
}

a {
  color: #000;
  &:visited { color: #000; }
  &:hover { color: #000; text-decoration: none; }
}
