body.tunes {

  nav#filters {
    @include columns(2, 12);
    @include alpha(12);
    background: #CCC;

    article {
      padding: 10px;
      ul {
        li { padding-bottom: 4px; }
      }
    }
  }
  
  section#search {
    @include columns(10, 12);
    @include omega(12);
    margin-bottom: 15px;
  }

  section#tunes {
    @include columns(10, 12);
    @include omega(12);
  }

  article.tune {
    @include clearfix;
    position: relative;
    padding: 8px;
    margin-bottom: 5px;

    h3 {
      float: left;
      font-size: 1.0em;
      font-weight: normal;
    }
    cite {
      float: left;
      font-size: 0.8em;
      padding-left: 15px;
    }

    ul.attributes {
      float: right;
      @include horizontal-list;
      li { font-style: italic; }
    }
  }

  article#tune {
    @include clearfix;

    header {
      @include border-radius(6px);
      background: #CCC;
      padding: 10px;
      position: relative;
      margin-bottom: 15px;

      h1 { margin-bottom: 5px; }

      p {
        border-top: 1px solid #666;
        margin-top: 10px;
        padding-top: 5px;
        clear: left;
      }
    }

    #tune-description {
      @include columns(9, 12);
      @include alpha(12);
      
      p { margin-bottom: 0.8em; }
      ul { margin-left: 1em; margin-bottom: 0.8em; }
    }

    #tune-relateables {
      @include columns(9, 12);
      @include alpha(12);
    }

    #tune-resources {
      @include columns(3, 12);
      @include omega(12);
    }
  }

}
