body.tunes {

  nav#filters {
    @include columns(2);
    @include alpha;
    background: #CCC;

    article {
      padding: 10px;
      h2 { margin-bottom: 6px; }
      ul {
        margin-left: 0;
        @include no-bullets;
        li { padding-bottom: 4px; }
      }
    }
  }
  
  section#search {
    @include columns(10);
    @include omega;
    margin-bottom: 15px;
  }

  section#tunes {
    @include columns(10);
    @include omega;
  }

  article.tune {
    border: 1px solid #666;
    padding: 15px;
    margin-bottom: 15px;

    h3 { margin-bottom: 8px; }
    p {
      label { font-weight: bold; }
    }
  }

  article#tune {
    @include clearfix;

    header {
      @include full;
      background: #CCC;
      @include border-radius(6px);
      padding: 10px;
      position: relative;
      margin-bottom: 15px;

      h1 {
        margin-bottom: 5px;
      }

      img.avatar {
        float: left;
        margin-right: 10px;
      }

      dl {
        dd { display: inline; }
        dt { display: inline; margin-right: 20px; color: #666; }
      }
      
      ul.social-media {
        @include horizontal-list;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      p {
        border-top: 1px solid #666;
        margin-top: 10px;
        padding-top: 5px;
        clear: left;
      }
    }

    section {
      h2 {
        margin-bottom: 10px;
        font-size: 1.2em;
      }
    }

    div.comments {
      @include full;
    }


    #tune-progressions, #tune-concepts {
      margin: 10px 0 10px 0;
      ul {
        @include no-bullets;
        margin: 0 0 10px 0;
      }
    }
  }

}
