body.tunes {

  #search {
    form {
      input#query { width: 250px; }
      input[type=submit] { margin-left: 20px; }
    }
  }

  section#tunes {
    @include columns(9, 12);
  }

  article.tune {
    @include clearfix;
    position: relative;
    padding: 4px;
    margin: 0;

    h3 {
      float: left;
      font-size: 1.0em;
      font-weight: normal;
    }
    cite {
      float: left;
      font-size: 0.8em;
      padding-left: 15px;
    }
  }

  article#tune {
    @include columns(9, 12);
    @include clearfix;

    header {
      @include border-radius(6px);
      background: #CCC;
      padding: 10px;
      position: relative;
      margin-bottom: 15px;

      h1 { margin-bottom: 5px; }

      p {
        border-top: 1px solid #666;
        margin-top: 10px;
        padding-top: 5px;
        clear: left;
      }
    }

    #tune-description {
      p { margin-bottom: 0.8em; }
      ul { margin-left: 1em; margin-bottom: 0.8em; }
    }

    #tune-relateables {

    }
  }

}
