body.voicings {

  article#voicing {
    .voicing-staff {
      float: left;
      margin-right: 10px;
    }
  }

}

/* Potentially Used Elsewhere */
ul.voicings-list {
  @include clearfix;

  li.voicing {
    @include border-radius(5px);
    position: relative;
    float: left;
    border: 1px solid #CCC;
    margin: 0 10px 10px 0;
    padding: 4px;
    width: 184px;

    h3 {
      margin: 0;
      padding: 4px;
    }

    .staff {
      margin-top: -30px;
    }
    
    a { text-decoration: none; }
  }
}

