#voice-leading {
  background: #CCC;
  padding: 10px;
  margin-top: 15px;
  width: 80%;

  ul {
    @include horizontal-list;
    margin: 0;
    li {
      padding: 5px;
      margin-right: 10px;
    }
  }
}
