body.voicings {

  article#voicing {
    .voicing-staff {
      float: left;
      margin-right: 10px;
    }

    .comments {
      clear: none;
      margin-left: 200px;
    }
  }

}

/* Potentially Used Elsewhere */
ul.voicings-list {
  @include clearfix;
  list-style-type: none;
  margin: 0;

  li.voicing {
    float: left;
    border: 1px solid #CCC;
    @include border-radius(5px);
    margin: 0 10px 10px 0;
    padding: 4px;
    width: 184px;

    h3 {
      margin: 0;
      padding: 4px;
    }
    
    div.vex-tabdiv { padding-left: 0; }

    a {
      text-decoration: none;
    }

    &:hover {
      border: 1px solid #333;
    }
  }
}

