%nav.tabs
  %ul
    = navigation_link_to "Information", {:action => :show}, TunesController, :show
    = navigation_link_to "Comments (#{@tune.comments.count})", {:action => :comments}, TunesController, :comments
