= render "search_box"

%section#tunes
  = render @tunes
  = paginate @tunes
  - if @tunes.empty?
    %p.no-results Sorry, but no tunes were found matching your search.

#sidebar
  %section#tune-books
    = render "resources/index", :resources => Resource.amazon_books.random.limit(6)
