%article#tune
  = render "tunes/header"

  %section#tune-description
    = raw text_to_html(@tune.description)

  #tune-relateables
    - if @tune.tune_progressions.exists?
      %section#tune-progressions
        %h2 Progressions Used in this Tune:
        %ul
          - @tune.tune_progressions.each do |tune_progression|
            %li= link_to tune_progression.progression, tune_progression.progression

#sidebar
