-# CSS : implied media="all"
= stylesheet_link_tag "style.css", :media => "all"
= stylesheet_link_tag "handheld.css", :media => "handheld"

/[if lt IE 7]
  = stylesheet_link_tag "ie6.css", :media => "screen, projection"

-# Append your own using content_for :stylesheets
= yield :stylesheets

-# Google Web Fonts
-#= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Neuton"
-#= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Radley"
